*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

.card {
    background: #1A1D22;
    border: 1px solid #2A2F37;
    width: 281px;
    height: 122px;
    border-radius: 20px;
    border-width: 1px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 16px;
    display: flex;
    gap: 16px;
}

.card-avatar {
    width: 72px;
    height: 72px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h1 {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #F3F4F6;
    }

    h2 {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #9CA3AF;
    }
}

.card-btn {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F3F4F6;
    background: #00447C;
    border-radius: 10px;
    padding: 8px 12px;
}